@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--White);
}
section {
  padding: 2rem 0;
}
.main {
  padding: 3rem 1.5rem;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.content-left {
  color: var(--VeryDarkMagenta);
  text-align: center;
}
.main-heading {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 2rem;
  padding-bottom: 1.8rem;
}
.description {
  font-weight: 500;
  font-size: 1.1rem;
}
.content-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rating-card {
  max-width: 445px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: var(--LightGrayishMagenta);
}
.star-icon-container {
  padding: 0.3rem 0;
}
.star-icon-container span {
  margin: 0 0.2rem;
}
.content::before {
  content: url(../images/bg-pattern-top-mobile.svg);
  position: absolute;
  top: 0;
  left: 0;
}
.testimonials::after {
  content: url("../images/bg-pattern-bottom-mobile.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
/* ---------------- */
/* Testimonials */
/* ---------------- */

.testimonials {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}
.testimonial-card {
  background-color: var(--VeryDarkMagenta);
  color: var(--LightGrayishMagenta);
  padding: 1.5rem 2rem;
  border-radius: 0.7rem;
  max-width: 351px;
}
.testimonial-buyer-info {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  line-height: 1.3rem;
  gap: 1.5rem;
}
.testimonial-buyer-avatar {
  width: 40px;
  border-radius: 50%;
}
.testimonial-buyer-name {
  font-weight: 700;
}
.testimonial-buyer-verified {
  color: var(--SoftPink);
}

.testimonial-description {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
}

@media all and (min-width: 800px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    padding: 0;
  }
  .main {
    height: 587px;
    display: flex;
    flex-direction: column;
    max-width: 1111px;
    padding: 0;
    min-height: 587px;
    gap: 2rem;
  }
  .main > * {
    flex: 0 1 100%;
  }
  .content,
  .testimonials {
    flex-direction: row;
  }
  .content > * {
    flex: 0 1 100%;
  }
  .content-left {
    text-align: left;
  }
  .main-heading {
    max-width: 335px;
  }
  .description {
    max-width: 412px;
  }
  .content-right {
    margin-top: 1rem;
  }
  .content-right > :nth-child(2) {
    margin-left: 3rem;
  }
  .content-right > :nth-child(3) {
    margin-left: 6rem;
  }
  .rating-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .testimonials > :nth-child(1) {
    margin-bottom: 2rem;
  }
  .testimonials > :nth-child(2) {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .testimonials > :nth-child(3) {
    margin-top: 2rem;
  }
  .content::before {
    content: url("../images/bg-pattern-top-desktop.svg");
  }
  .testimonials::after {
    content: url("../images/bg-pattern-top-desktop.svg");
  }
}
